.juice-tracker-RecordsEntity-item {
  cursor: pointer;

}

.juice-tracker-RecordsEntity-btn {
  background-color: #222 !important;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
}

.juice-tracker-RecordsEntity-btn:hover {
  text-decoration: none;
  background-color: orange;
  color: #222;
}
