.juice-tracker-header {
  display: flex;
  background-color: #222;
}

.juice-tracker-navlink {
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
.juice-tracker-navlink:hover {
  text-decoration: none;
  background-color: orange;
  color: #222;
}

.juice-tracker-navlink.is-selected {
  background-color: orange;
  color: #222;
}
