.juice-tracker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  position: relative;
}

.juice-tracker-navlink {
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
.juice-tracker-navlink:hover {
  text-decoration: none;
  background-color: orange;
  color: #222;
}

.juice-tracker-navlink.is-selected {
  background-color: orange;
  color: #222;
}

.juice-tracker-header-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  margin: 0.5rem 1rem;
}
